#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.fixture_upper__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.fixture_upper__header {
  box-shadow: -2px 2px 4px rgba(43, 64, 64, 0.15);
  margin-top: 0;
}

#title {
  padding: 1rem 0;
  margin: 0;
  font-size: 1.65rem;
}

#subtitle {
  padding: 0.25rem 0 0.5rem 0;
  margin: 0;
  font-size: 0.85rem;
}

#codeBlock {
  width: 100%;
  overflow-x: auto;
  max-height: 150vh;
  overflow-y: auto;
  border-radius: 6px;
}

.codeBlock {
  text-align: left;
  background-color: rgba(43, 64, 64, 0.95);
  color: #fff;
  width: 100%;
  overflow-x: auto;
  max-height: 150vh;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 6px;
}

.fixture_upper__codeSection {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  box-shadow: -1px -1px 8px rgba(43, 64, 64, 0.30);
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.25rem;
}

.fixture_upper__formField {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0.25rem;
  font-weight: 500;
  font-family: 'Josefin Sans';
}

.fixture_upper__formSection {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1.25rem;
  margin-top: 1rem;
  box-shadow: -1px -1px 8px rgba(43, 64, 64, 0.30);
  padding: 1rem;
  border-radius: 6px;
}

@media (min-width: 900px) {
  .fixture_upper__formSection, .fixture_upper__codeSection {
    width: 78%;
  }
}

.fixture_upper--input {
  width: 100%;
  margin-top: 0.25rem;
  border-radius: 6px;
  border: 1px solid darkslategray;
}

#userJSONInput {
  height: 40vh;
  outline-color: rgb(115, 115, 232);
}

#userModelInput {
  height: 2rem;
  outline-color: rgb(115, 115, 232);
}

::placeholder {
  opacity: 0.75;
}

.error_message {
  color: red;
}

#loadingIcon {
  width: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-loading {
  width: 100%;
  height: inherit;
}

#copyMessage {
  color: green;
}